@{ ViewBag.Title = "Home Page"; }


















<div class="jumbotron">
    <h2>Welcome To Cabbies Self Medication RSA</h2>
    <p class="lead">We provide and solution for Self eEdication needs.</p>
    <p><a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Learn more &raquo;</a></p>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selft Medication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Self-medication is a global phenomenon and potential contributor to human pathogen resistance to
                    antibiotics. The adverse consequences of such practices should always be emphasized to the community 
                    and steps to curb it. Rampant irrational use of antimicrobials without medical guidance may result in
                    greater probability of inappropriate, incorrect, or undue therapy, missed diagnosis, delays in
                    appropriate treatment, pathogen resistance and increased morbidity. This review focused on 
                    the self-medication of allopathic drugs, their use, its safety and reason for using it.
                    It would be safe, if the people who are using it, have sufficient knowledge about its dose, 
                    time of intake, side effect on over dose, but due to lack of information it can cause serious 
                    effects such as antibiotic resistance, skin problem, hypersensitivity and allergy. 
                    There is need to augment awareness and implement legislations to promote judicious and safe practices. 
                    Improved knowledge and understanding about self-medication may result in rationale use and thus limit
                    emerging microbial resistance issues. Articles which were published in peer reviewed journals, 
                    World Self-Medication Industry and World Health Organization websites relating to self-medication
                    reviewed.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@

        <div class="card bg-dark text-white">
            <img src="~/Content/wag-magself-medicate-2-18-2021.jpg" style="height: 180PX !important; width: 350px !important;" />
            <div class="card-img-overlay">
                <h4 class="card-title">Why do People Use Self-medication?</h4>
                <p class="card-text">
                    Modern consumers (patients) wish to take a greater role in the maintenance of their own health and
                    are often competent to manage (uncomplicated) chronic and recurrent illnesses (not merely short-term
                    .......
                </p>
                <p><a class="btn btn-default" href="#" data-toggle="modal" data-target="#exampleModal1">Learn more &raquo;</a></p>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title text-center text-capitalize" id="exampleModalLabel"><b>Why do People Use Self-medication</b></h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Modern consumers (patients) wish to take a greater role in the maintenance of their own health and
                                are often competent to manage (uncomplicated) chronic and recurrent illnesses (not merely short-term
                                symptoms) after proper medical diagnosis and with only occasional professional advice, e.g.
                                use of histamine H2-receptor blocker, topical corticosteroid, antifungal and oral contraceptive.
                                They are understandably unwilling to submit to the inconvenience of visiting a doctor for what they
                                rightly feel they can manage for themselves, given adequate information.

                                Self-medication is very common and a number of reasons could be enumerated for it.
                                Urge of self-care, feeling of sympathy toward family members in sickness, lack of time,
                                lack of health services, financial constraint, ignorance, misbelieves, extensive advertisement
                                and availability of drugs in other than drug shops are responsible for growing trend of
                                self-medication.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="~/Content/wag-magself-medicate-2-18-2021.jpg" style="height: 180PX !important; width: 350px !important;" />
            <div class="card-img-overlay">
                <h4 class="card-title">Go To Intranet</h4>
                <p class="card-text">
                    Self-medication with antibiotics (SMA) is a serious global health problem. We sought to investigate
                    SMA behaviors and risk factors among Chinese university students, and further explore the association
                    between SMA practices and adverse drug events (ADEs).
                </p>
                <p><a class="btn btn-default" href="https://www.sciencedirect.com/science/article/pii/S003335061500164X">Learn More &raquo;</a></p>
            </div>
        </div>

        @*<h1><img src="https://captionsgram.com/wp-content/uploads/2020/05/masthead_88wNboIOQBE8EgHjLu7EjOxW6X3hVLcJ-1024x576.jpg   " /></h1>
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="~/Content/wag-magself-medicate-2-18-2021.jpg" style="height: 180PX !important; width: 350px !important;" />
            <div class="card-img-overlay">
                <h4 class="card-title">Alcohol and Drug Awareness</h4>
                <p class="card-text">
                    If you do choose to drink alcohol, drinking in moderation can be an enjoyable and usually
                    harmless feature of student life. However, getting drunk regularly can have potentially serious physical,
                    social and academic effects. Even drinking to excess just occasionally can be damaging.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

            </div>
        </div>
        @*<h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>


