@model ImfuyoRanch.Models.Equipment_Hire.EquipmentType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipementTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipementTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipmentTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
