@model IEnumerable<ImfuyoRanch.Models.Equipment_Hire.EquipmentType>

@{
    ViewBag.Title = "IndexView";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 320px !important;
        margin: auto;
        text-align: center;
        height: 350px !important;
        margin-bottom: 20px !important;
        border: groove !important;
    }

        .card:hover {
            border-radius: 10px;
            border-color: #000000 !important;
        }

    .h2-d {
        text-align: center
    }
</style>
<h2 class="h2-d">Equipment Type</h2>


    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <strong>@Html.DisplayFor(modelItem => item.EquipementTypeName)</strong>
                    </h4>
                    <p><a class="btn btn-default" onclick="location.href='@Url.Action("IndexView", "Equipments", new { id = item.EquipmentTypeId })'">Go To Equipments </a></p>
                </div>
            </div>
        </div>
    }


